* {
	font-family: inherit;
	font-size: inherit;
}
body {
	font-family: sans-serif;
	font-size: 18px;
}
table {
	margin: 20px;
}
table.consonants svg, table.vowels svg {
	height: 80px;
}
table.consonants td, table.vowels td, table.words td, table.names td {
	padding: 5px;
}
table.words td.svg, table.names td.svg {
	height: 60px;
}
table.vowels td.label, table.consonants td.label {
	font-size: 30px;
	vertical-align: middle;
}
table.words td.latin, table.words td.phonetic, table.words td.notes,
table.names td.latin, table.names td.phonetic, table.names td.notes {
	font-size: 22px;
	vertical-align: middle;
}
table.consonants td.label {
	width: 40px;
}
table.vowels td.label {
	width: 70px;
}
h1 {
	font-size: 140%;
	margin: 20px;
}
h2 {
	font-size: 120%;
	margin: 20px;
}
h3 {
	font-size: 100%;
	margin: 20px;
}
p {
	margin: 20px;
}
input[type=submit] {
	padding: 5px 10px;
}
svg {
	height: 60px;
	vertical-align: middle;
}
svg path {
	fill: none;
	stroke: black;
	stroke-linecap: round;
	stroke-width: 8px;
}
